* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: black;
}

.appBox {
  width: 80%;
  height: 600px;
  display: block;
  margin: 50px auto;
  border-radius: 6px;
  border: solid 2px #3A3A3A;
  background-color: #0C0C0C;
}
.spaceZone {
  width: 100%;
  height: 500px;
}
.chatBar{
  background-color: #DDDDDD;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

.handleBar {
  border-top: white solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(cyan,#1e4873);
  width: 100%;
  height: 29px;
  border-radius: 0 0 6px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.changeUserName {
  width: 200px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid red;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lime;
  margin-right: 20px;
}

.changeUserName:hover {
  background-color: white;
}
.arrow_box {
	position: relative;
	background-color: cyan;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75em;
}
.arrow_box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: cyan;
  border-width: 15px;
  margin-top: -15px;
}

.messageContainer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.textField {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  display: block;
  overflow: scroll;
}
.messageContent {
  color: #F8CA00;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageContainer {
  width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}

.messageCreator {
  color: black;
  width: 20%;
}
.chatTextBox {
  width: 80%;
  height: 30px;
  border-radius: 6px;
}

.landingPage {
  width: 100%;
  height: 100%;
  background-color: #0C0C0C;
  display: flex;
  align-items: center;
  justify-content: center;
}


.usernameTextBox {
  width: 50%;
  height: 100px;
  background-color: #0C0C0C;
  border-radius: 6px;
  display: flex;
  text-align: center;
  font-size: 3em;
  color: white;
}

input {
  color: black;
}

.fa-trash-o{
  margin-right: 10px;
}

a{
  color: #F8CA00;
}
.hide {
  display: none;
}
